<a href="https://colab.research.google.com/github/whtmdgn1409/PYTHON/blob/main/Python_3%EC%9E%A5_02_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수(variables)라는 개념에 대해서 공부해보자.
- 컴퓨터는 사용하는 데이터를 주기억장치에 보관해서 사용한다.
- 이 값을 CPU로 가져와서 사용하려면,
- 그 변수가 위치한 곳의 주소를 일일이 기억해야하는데...
- 그게 귀찮아서, 이름을 붙여서 사용하는데
- 그것이 바로 '변수'다.
- 일단 지금은 '변수'는 값을 저장하는 '그릇'이라고 생각하자.

In [ ]:
# 아래의 예제를 살펴보자. 
# 아래는 다양한 변수를 만들고, 원하는 값을 저장해서 사용한다.

my_number = 100 # 정수형 변수
my_name   = "Kim" # 문자열 변수
my_height = 172.3 # 실수형 변수
is_middle_school = True # 불리언(boolean) 변수

# author_name = "JUNGKEECHUL"

# 위와 같이 다양한 형태의 값들이 있다.
- 우리가 수학 시간에 사용하는 '자연수', '정수', '실수', '허수' 들 처럼..
- 컴퓨터에서도 다양한 형태의 값들을 사용할 수 있다.

In [ ]:
# 변수가 가지고 있는 값을 print() 함수로 출력할 수 있다.
print(my_number)
print(my_name)
print(my_height)
print(is_middle_school)

100
Kim
172.3
True

# 위에서 변수 이름을 정하는 특별한 형태를 참고하자.
# 변수의 이름이 기능/역할/의미를 파악할 수 있도록 상세하게 만드는게 좋다.
# 위와 같이 underscore를 통해서 변수의 이름을 만드는 것이 일반적이다.

In [ ]:
# 변수의 자료형은 type() 함수로 확인할 수 있다.
print(type(my_number))
print(type(my_name))
print(type(my_height))
print(type(is_middle_school))


# 아래 출력 결과 중에서 '    ' 부분을 보면 된다.

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

# 이제 2번째 함수 type() 함수를 배웠다.
- type() 함수의 파라미터로 주어지는 변수의 type(자료형)을 '반환'한다.

# print(type(my_number)) 이 문장에 대해서 더 이야기를 해보자.
- 이 문장은 type(my_number)라는 함수가 가장 먼저 실행된다.
- 이 type() 함수는 파라미터의 자료형을 '반환'한다.
- 여기서 '반환한다'는 의미는 sin(30) 함수처럼, 계산된 결과값을 돌려주는 것을 의미한다.
- print() 함수는 반환된 '그' 값을 출력한다.

In [ ]:
# 함수의 반환값은 아래와 같이 변수에 담아서 사용할 수 있다.
a = type(my_name)
print(a)

print(type(my_name))

<class 'str'>
<class 'str'>

In [ ]:
# 변수에 새로운 값을 넣으면 기존 값은 지워지고 새로운 값으로 대체된다.

a = 10
print(a)

a = 20
print(a)

10
20

In [ ]:
is_middle_school = False

print(is_middle_school)

# Boolean 자료형은 True 또는 False 값만 저장할 수 있다.
# True/ False의 첫 글자는 '대문자'
# is_middle_school = YES

False

In [ ]:
# 동적 타입 바인딩이라서 프로그램 실행 중에 변수의 자료형을 바꿀 수 있다.
# 동적 타입 바인딩(dynamic type binding)은 파이썬에서 아주 중요한 개념이다.
# 이 점이 C 언어와 같은 정적 타입 바인딩 언어와 큰 차이점이다.
# 향후에 자세하게 설명하자.
# 지금은 아래와 같이 기억하자.
# 변수에는 '아무런 값이나 마구 마구 저자할 수 있다!!!'

a = 10
print(a)
print(type(a))

a = 10.1
print(a)
print(type(a))

a = "fasdfasfdsfsadfsdadsafsdafsdafsdafds"
print(a)
print(type(a))

10
<class 'int'>
10.1
<class 'float'>
fasdfasfdsfsadfsdadsafsdafsdafsdafds
<class 'str'>

In [ ]:
# 변수에 값을 대입하고 이를 이용해서 수식 계산을 해보자.

i = 10
j = 20

add = i + j # 덧셈 연산자
multiplication = i * j # 곱셈 연산자

print("add: ", add)
print("multi: ", multiplication)

sum:  30
multi:  200

# [각자 실습 해보자]

아래의 셀에서 각가 다양한 형식으로 변수를 활용하고, 이를 print() 함수를 통해서 출력해보자.

In [ ]:
# 여기에 ...

print()
a =